{% extends 'base.html' %}
{% block body %}
<section class="intro-section">
		<div class="container">
        <br><br>
			<div class="row">
        {% for quest in question %}
				<div class="col-md-4">
					
					<div class="intro-text-box text-box text-white">
						<a href="{% url 'view_question' quest.id %}">
						<div class="top-meta">{{quest.category}}</div>
						<h3>{{quest.question}}</h3>
						<p>{{quest.content |truncatechars:25}}...</p>
						<a href="#" class="read-more">Read More  {% load staticfiles %}<img src="{% static 'doubt/icons/double-arrow.png' %}" alt="#"/></a>
					</div>
					</a>
				</div>
				
        {% endfor %}
			</div>
		</div>
    
</section>
{% endblock %}