{% extends 'login/base.html' %}
{% block new %}
<style>
.like-content {
    display: inline-block;
    width: 100%;
    font-size: 18px;
    text-align: center;
}
.like-content .btn-secondary {
	  display: block;
	  margin: 40px auto 0px;
    text-align: center;
    background: #ed2553;
    border-radius: 3px;
    box-shadow: 0 10px 20px -8px rgb(240, 75, 113);
    padding: 10px 17px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    outline: none;
    text-decoration: none;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}
.like-content .btn-secondary:hover {
	  transform: translateY(-3px);
}
.like-content .btn-secondary .fa {
	  margin-right: 5px;
}
.animate-like {
	animation-name: likeAnimation;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	animation-duration: 0.65s;
}
@keyframes likeAnimation {
  0%   { transform: scale(30); }
  100% { transform: scale(1); }
}
</style>
<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>


	<!-- Page top section -->
    {% load staticfiles %}
	<section class="page-top-section set-bg" data-setbg="{% static 'doubt/img/page-top-bg/1.jpg' %}">
		<div class="page-info">
			<h2>Games</h2>
			<div class="site-breadcrumb">
				<a href="">Home</a>  /
				<span>Games</span>
			</div>
		</div>
	</section>
	<!-- Page top end-->
	<!-- Games section -->
	<section class="games-single-page">
		<div class="container">
			<div class="row">
				<div class="col-xl-9 col-lg-8 col-md-7 game-single-content">
					<div class="gs-meta"><a href="">DOUBTS</a></div>
					<h2 class="gs-title">{{question.question}}</h2>
					<h4>Content</h4>
					<br>
					{% load tags %}
					{% with see=question.content|split_tags %}
					<div style='color:white'>
					{% for some in see %}
						{% for one ,two in some.items %}
							{% if two %}
								{{one|safe}}
							{% else %}
								{{one}}
							{% endif %}
						{% endfor %}
					{% endfor %}
					</div>
					{% endwith %}
					
					<form method="post" id="myForm" action="{% url 'like_question' question.id %}">
						{% csrf_token %}
						<div class="like-content">
						<button class="btn-secondary like-review" type="submit">
							<i class="fa fa-heart" aria-hidden="true"></i> Like
						</button>
						</div>
					</form>
				</div>
				<div class="control">

				<div class="col-xl-3 col-lg-5 col-md-5 sidebar game-page-sideber">
					<div id="stickySidebar">
						<div class="widget-item">
							<div class="rating-widget">
								<h4 class="widget-title">Ratings</h4>
								<ul>
									<li>Visited<span>{{question.visited.all.count}}</span></li>
									<li>Category<span>{{question.category}}</span></li>
								</ul>
								<div class="rating">
									<h5><i>Likes</i><span>{{question.likes}}</span></h5>
								</div>
							</div>
						</div>
					</div>
				</div>
                {% for some in question.reply.all %}
                <section class="game-author-section">
                    <div class="container">
                        {% if some.anonymous %}
                            {% load staticfiles %}
                                <div class="game-author-pic set-bg" data-setbg="{% static 'login/images/bg-01.jpg' %}"></div>
                                <div class="game-author-info">
                                <h4>Written by: Anonymous</h4>
                            {% else %}
                            {% load staticfiles %}
                                <div class="game-author-pic set-bg" data-setbg="{{some.user.user_profile.photo.url}}"></div>
                                <div class="game-author-info">
                                <h4>Written by: {{some.user.username}}</h4>
                            {% endif %}
                                
                            <p>{{some.content}}</p>
                    </div>
                </section>
				<h5>{{some.user.username }}</h5>
                <p></p>
                {% endfor %}
					<div class="geme-social-share pt-5 d-flex">
						<p>Share:</p>
						<a href="#"><i class="fa fa-pinterest"></i></a>
						<a href="#"><i class="fa fa-facebook"></i></a>
						<a href="#"><i class="fa fa-twitter"></i></a>
						<a href="#"><i class="fa fa-dribbble"></i></a>
						<a href="#"><i class="fa fa-behance"></i></a>
					</div>
                    <div class="">
                    <div class="container-login100" >
                        <div class="">
                            <form class="login100-form validate-form" action="{% url 'view_question' question.id %}" method="post" enctype=multipart/form-data style="width:100%">
                            {% csrf_token %}
                                <span class="login100-form-title p-b-49" style="color:white">
                                    REPLY
                                </span>
                                {% for field in form %}
                                <div class="wrap-input100 validate-input m-b-23" data-validate = "field is required">
                                    <span class="label-input100" style="color:white">{{field.label_tag}}</span><br>
                                    {{field}}
                                    {% cycle '<span class="focus-input100" data-symbol="&#xf206;"></span>' '<span class="glyphicon glyphicon-ok"></span>'%}
                                </div>
                                {% endfor %}			
                                <div class="container-login100-form-btn">
                                    <div class="wrap-login100-form-btn">
                                        <div class="login100-form-bgbtn"></div>
                                        <button class="login100-form-btn" type="submit">
                                            REPLY
                                        </button>
                                    </div>
                                </div>
                                
                            </form>
                        </div>
                    </div>
                </div>
			</div>
		</div>
	</section>
    
	<!-- Games end-->
    <section class="game-author-section">
		<div class="container">
			<div class="game-author-pic set-bg" data-setbg="{{question.user.user_profile.photo.url}}"></div>
			<div class="game-author-info">
				<h4>Written by: {{question.user.username}}</h4>
            </div>
		</div>
	</section>


{% endblock %}
