{% extends 'base.html' %}
{% block body %}
<br><br>
<section class="intro-section">
		<div class="container">
			<div class="row">
        {% for quest in question %}
				<div class="col-md-4">
					<a href="{% url 'view_question' id=quest.id %}">
					<div class="intro-text-box text-box text-white">
						<div class="top-meta">{{quest.category}}</div>
						<h3>{{quest.question}}</h3>
						<p>{{quest.content |truncatechars:25}}...</p>
						<div class="read-more">Read More  {% load staticfiles %}<img src="{% static 'doubt/icons/double-arrow.png' %}" alt="#"/></div>
					</div>
				</div>
				</a>
        {% endfor %}
			</div>
		</div>
    
</section>
{% endblock %}